
/* Altura responsiva del carrusel */
.carousel-h { height: 380px; }
@media (max-width: 768px){ .carousel-h { height: 260px; } }

/* Si tu imagen no llena, que recorte centrado */
.object-fit-cover { object-fit: cover; }

/* ================= */
body{
    background-color: #0D1526;
    color: #fff;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
.navbar-brand{
    color: #F2B544;
}
.nav-link.active {
  color: #F2B544 !important;
}

.navbar{
    background-color: #0D1526;
    text-transform: uppercase;
    padding-bottom: 20px;
    padding-top: 20px;
}

.container-all{
padding-bottom: 100px;
padding-top: 100px;
}


.footer{
    background-color: #0a101e;
    padding-bottom: 20px;
    padding-top: 20px;
}


.btn-primary{
    background: #F2B544;
    border: none;
    color: #0a101e;
    border-radius: 25px;
    width: 250px;
    padding: 12px 40px;
}
.btn-outline-secondary{
    border:2px solid #F2B544;
    color: white;
    border-radius: 25px;/* Súper redondeado */
    padding: 12px 40px;
}
.btn1{
    background: #F2B544;
    border: none;
    color: #0a101e;
    border-radius: 25px;
}

.linea{
    display: flex;
    justify-content: center; /* al centro horizontal */
      /*  align-items: center;  -  al centro vertical */
    height: 50px; 
    padding: 10px;          /* ocupa toda la pantalla */
}
.linea-int{
    height: 3px;
    width: 20%;
    background: linear-gradient(to right, #fdfdfd2f 33%, rgb(255, 166, 0) 33% 66%, rgba(226, 226, 226, 0.26) 66%);
}

section{
    padding-bottom: 100px;
    padding-top: 100px;
}
/* ==================PORTADA================== */
header{
    background-image: linear-gradient(rgb(13, 21, 38), rgba(2, 2, 8, 0.7)),url('/img/portada.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 90vh
}
.st-style1{
    font-size:100px ;
}
p{
    padding-bottom: 20px;
}
/* ====================SOBRE MI====================== */

.table>:not(caption)>*>* {
    background-color:#0D1526;
    color: #fff;
}
/* =========================CARRUSEL==================== */

.btn-all{
    background: #F2B544; 
    border: none;
    color: #0a101e;
    border-radius: 25px;
    width: 250px;
    padding: 12px 40px;
    text-align: center;
    justify-content: center;
}
/* =============Sección rápida con links============= */
main{
    background-color: #0a101e;
    text-align: center;

}
.card{
    height: 100% !important;
    background-color: #101624;
    color: white;
    border: solid 1px #232935;
}
/* .bi-file-earmark-person,.bi-building-check, .bi-sort-up-alt, .bi-person-lines-fill{
    height: 100px;
    width: 100px;
    padding: 10px;
    background-color: #0a101e;
    color: #7a808e;
    border-radius: 50px;
    border: solid 1px #232935;
} */
 .btn-outline-primary{
 
    color: #F2B544;
    border: #F2B544;
    border-radius: 30px;
    border: solid 1px #F2B544;
    width: 120px;
 }
 .card-body>h5,svg{
     color: #F2B544;
 }
